In [1]:
# dependencies
import pandas as pd

In [2]:
# support methods

In [13]:
# main
full_mp = pd.read_parquet("../import/output/mp.parquet")
extras = pd.read_parquet("../import/input/extras.parquet")

class_cols = [
    'rd_no',
    'year_occurred',
    'original_iucr',
    'current_iucr',
    'current_primary_class',
    'current_secondary_class',
    'description',
    'how_located',
    'primary',
    'status',
    'status_date',
    'closed_date',
    'date_officer_arrived',
    'notification_time',
    'date_occurred',
    'beat_occurred',
    'city_beat_occurred',
    'city_district_occurred',
    'city_sector_occurred',]
mp = full_mp[class_cols].copy().sort_values('year_occurred')

In [15]:
mp.sample(5)

,rd_no,year_occurred,original_iucr,current_iucr,current_primary_class,current_secondary_class,description,how_located,primary,status,status_date,closed_date,date_officer_arrived,notification_time,date_occurred,beat_occurred,city_beat_occurred,city_district_occurred,city_sector_occurred
43697,HJ402172,2003,NaN,6050,None,None,MISSING PERSON,None,NON-CRIMINAL,CLOSED NON-CRIMINAL,2003-06-14 16:57:16,2003-06-14,2003-06-02 09:30:00,2003-06-02 10:25:00,2003-05-30 19:30:00,2431.0,1,24,3
207205,HL415168,2005,NaN,6050,None,None,MISSING PERSON,None,NON-CRIMINAL,CLOSED NON-CRIMINAL,2005-06-24 16:03:37,2005-06-24,2005-06-12 05:00:00,2005-06-12 09:40:00,2005-06-11 16:00:00,712.0,2,7,1
153256,G479869,2001,NaN,6050,None,None,MISSING PERSON,None,NON-CRIMINAL,CLOSED NON-CRIMINAL,2001-08-23 13:45:44,2001-08-23,2001-08-13 02:10:00,NaT,2001-08-13 01:30:00,933.0,3,9,3
307731,HX139447,2014,NaN,6050,None,None,MISSING PERSON,None,NON-CRIMINAL,CLOSED NON-CRIMINAL,2014-02-21 12:03:16,2014-02-21,2014-02-04 20:30:00,2014-02-04 21:45:00,2014-02-04 06:30:00,332.0,2,3,3
30264,HZ285049,2016,NaN,6050,None,None,MISSING PERSON,None,NON-CRIMINAL,CLOSED NON-CRIMINAL,2016-06-11 13:55:27,2016-06-11,2016-05-29 18:10:00,2016-05-29 18:39:00,2016-05-28 13:00:00,2532.0,2,25,3

In [21]:
mp.status.value_counts()

status
CLOSED NON-CRIMINAL    351873
OPEN ASSIGNED             485
SUSPENDED                 191
OPEN ORIGINAL             146
EX CLEARED CLOSED         140
CLEARED CLOSED             70
CLEARED OPEN                3
OPEN UNASSIGNED             2
EX CLEARED OPEN             1
Name: count, dtype: int64

In [17]:
mp.primary.value_counts()

primary
NON-CRIMINAL                  337792
OFFENSE INVOLVING CHILDREN        21
HOMICIDE                          10
KIDNAPPING                         5
CRIM SEXUAL ASSAULT                5
SEX OFFENSE                        3
OTHER OFFENSE                      3
BATTERY                            2
CRIMINAL DAMAGE                    1
DECEPTIVE PRACTICE                 1
MOTOR VEHICLE THEFT                1
TRAFFIC ACCIDENT                   1
PUBLIC PEACE VIOLATION             1
Name: count, dtype: int64

In [18]:
mp.current_primary_class.value_counts()

current_primary_class
NARCOTICS                         79
NON-CRIMINAL                      71
OFFENSE INVOLVING CHILDREN        32
BATTERY                           26
CRIMINAL DAMAGE                   13
HOMICIDE                          11
ASSAULT                           10
OTHER OFFENSE                      9
THEFT                              8
DECEPTIVE PRACTICE                 7
KIDNAPPING                         6
BURGLARY                           5
CRIM SEXUAL ASSAULT                5
ROBBERY                            4
CRIMINAL TRESPASS                  4
SEX OFFENSE                        4
GAMBLING                           3
VICE CANCELLATION                  3
MOTOR VEHICLE THEFT                2
WEAPONS VIOLATION                  2
LIQUOR LAW VIOLATION               2
PROSTITUTION                       2
CANCELLATION                       2
NON-CRIMINAL SUBJECT SPECIFIED     1
TRAFFIC ACCIDENT                   1
PUBLIC PEACE VIOLATION             1
Name: count, dtype: int64

In [35]:
not_nc = (~mp.primary.str.contains("NON-CRIMINAL", na=False, regex=False)) & \
        (~mp.current_primary_class.str.contains("NON-CRIMINAL", na=False, regex=False))
crim = (mp.primary.str.contains("CRIM", na=False, regex=False)) |  \
       (mp.current_primary_class.str.contains("CRIM", na=False, regex=False))
mp.loc[(not_nc) & (crim), 
       ['rd_no', 'year_occurred', 'status', 'closed_date', 
        'primary', 'current_primary_class', 
        'description', 'current_secondary_class']]

,rd_no,year_occurred,status,closed_date,primary,current_primary_class,description,current_secondary_class
263728,F224342,2000,SUSPENDED,2000-04-26,CRIMINAL DAMAGE,CRIMINAL DAMAGE,TO PROPERTY,TO PROPERTY
4,F224751,2000,CLEARED CLOSED,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
19,G044063,2001,SUSPENDED,NaT,None,CRIMINAL DAMAGE,None,TO PROPERTY
167301,HH231384,2002,EX CLEARED CLOSED,2006-04-27,CRIM SEXUAL ASSAULT,CRIM SEXUAL ASSAULT,PREDATORY,PREDATORY
58,HJ563171,2003,CLEARED CLOSED,NaT,None,CRIMINAL TRESPASS,None,TO RESIDENCE
66,HK354025,2004,SUSPENDED,NaT,None,CRIMINAL DAMAGE,None,TO PROPERTY
70,HK409466,2004,CLEARED CLOSED,NaT,None,CRIMINAL TRESPASS,None,TO LAND
172844,HN771710,2007,SUSPENDED,2007-12-29,CRIM SEXUAL ASSAULT,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,NON-AGGRAVATED
123,HN472813,2007,SUSPENDED,NaT,None,CRIMINAL DAMAGE,None,TO PROPERTY
126,HN542133,2007,CLEARED CLOSED,NaT,None,CRIMINAL TRESPASS,None,TO STATE SUP LAND
137,HP175605,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
153,HP303786,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
166,HP384737,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO PROPERTY
163,HP366996,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
149,HP252361,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
195,HP582604,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
219,HR196759,2008,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,TO VEHICLE
221,HR218067,2009,OPEN ORIGINAL,NaT,None,CRIMINAL DAMAGE,None,CRIMINAL DEFACEMENT
224146,HR489755,2009,SUSPENDED,2009-08-28,CRIM SEXUAL ASSAULT,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,NON-AGGRAVATED
107097,HR491283,2009,OPEN ASSIGNED,2009-09-01,CRIM SEXUAL ASSAULT,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,NON-AGGRAVATED
254,HS294396,2010,OPEN ORIGINAL,NaT,None,CRIMINAL TRESPASS,None,TO RESIDENCE
255500,HV214611,2012,SUSPENDED,2012-04-03,CRIM SEXUAL ASSAULT,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,NON-AGGRAVATED

In [34]:
mp.loc[(~not_nc),
       ['rd_no', 'status', 
        'primary', 'current_primary_class', 
        'description', 'current_secondary_class']]

,rd_no,status,primary,current_primary_class,description,current_secondary_class
0,F012033,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
95344,F216308,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
95345,F195601,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
95346,F223725,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
95347,F225423,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
...,...,...,...,...,...,...
181009,JE151362,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
181008,JE208811,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
169507,JE181918,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
172749,JE199519,CLOSED NON-CRIMINAL,NON-CRIMINAL,None,MISSING PERSON,None
260668,JF262348,CLOSED NON-CRIMINAL,None,NON-CRIMINAL,None,FOUND PERSON